<div class="container robotoFont m-0 min-vw-100">
  <div class="row row-cols-1 h-100">
    <div class="position-absolute pic-div">
      <img src="assets/graphic-desktop.png" class="atlet-pic" />
    </div>
    <div class="d-flex">
      <div class="col"></div>
      <div class="col headerStyle fw-normal">ATHLETES</div>
    </div>
    <div class="d-flex second-height">
      <div class="col"></div>
      <div class="d-flex col flex-column justify-content-center">
        <div class="d-flex">
          <div
            class="second-number fw-normal border-style border-purple-color my-1"
          >
            01
          </div>
          <div class="second-header fw-normal ms-2">CONNECTTION</div>
        </div>
        <div class="d-flex mt-3">
          <div class="fontSize-20 fw-normal w-75">
            Connect with coaches directly, you can ping coaches to view profile.
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex third-height grey-bg">
      <div class="col"></div>
      <div class="d-flex col flex-column justify-content-center">
        <div class="d-flex">
          <div
            class="second-number fw-normal border-style border-purple-color my-1"
          >
            02
          </div>
          <div class="second-header fw-normal ms-2">COLLABORATION</div>
        </div>
        <div class="d-flex mt-3">
          <div class="fontSize-20 fw-normal w-75">
            Work with other student athletes to  increase visability. When you
            share and like other players videos it will increase your visability
            as a player. This is the team work aspect to Surface 1.
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex fourth-height purple-bg">
      <div class="col"></div>
      <div class="d-flex col flex-column justify-content-center">
        <div class="d-flex">
          <div class="second-number fw-normal border-style border-white my-1">
            03
          </div>
          <div class="second-header fw-normal ms-2">GROWTH</div>
        </div>
        <div class="d-flex mt-3">
          <div class="fontSize-20 fw-normal w-75 text-light">
            Resources and tools for you to get better as a student Athelte.
            Access to training classes, tutor sessions, etc 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 h-100">
    <div class="position-absolute pic-bas-div mt-5">
        <img src="assets/basketball.png" class="basketball-pic" />
      </div>
    <div class="d-flex mt-9">
      <div class="col headerStyle fw-normal ml-15">PLAYERS</div>
      <div class="col"></div>
    </div>
    <div class="d-flex second-height">
      <div class="d-flex col flex-column justify-content-center ml-15">
        <div class="d-flex">
          <div
            class="second-number fw-normal border-style border-purple-color my-1"
          >
            01
          </div>
          <div class="second-header fw-normal ms-2">CONNECTTION</div>
        </div>
        <div class="d-flex mt-3">
          <div class="fontSize-20 fw-normal w-75">
            Connect with talented athlete directly, you can watch their skills
            through video showreels directly from Surface 1.
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="d-flex third-height grey-bg">
      <div class="d-flex col flex-column justify-content-center ml-15">
        <div class="d-flex">
          <div
            class="second-number fw-normal border-style border-purple-color my-1"
          >
            02
          </div>
          <div class="second-header fw-normal ms-2">COLLABORATION</div>
        </div>
        <div class="d-flex mt-3">
          <div class="fontSize-20 fw-normal w-75">
            Work with recruiter to increase your chances of finding talented
            athlete.
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="d-flex fourth-height navy-bg">
      <div class="d-flex col flex-column justify-content-center ml-15">
        <div class="d-flex">
          <div class="second-number fw-normal border-style border-white my-1 text-purple">
            03
          </div>
          <div class="second-header fw-normal ms-2">GROWTH</div>
        </div>
        <div class="d-flex mt-3">
          <div class="fontSize-20 fw-normal w-75 text-light">
            Save your time, recruit proper athlets for your team.
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
